<div class="ng-container bs_form-user">
  <div class="col-12">
    <form (submit)="saveChanges()" [formGroup]="form">
      <div class="row" style="padding: 10px 0; margin: 0">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>First Name*</mat-label>
            <input formControlName="first_name" matInput />
            <mat-error>The first name is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Last Name*</mat-label>
            <input formControlName="last_name" matInput />
            <mat-error>The last name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label *ngIf="update === false">User Name*</mat-label>
                <mat-label *ngIf="update === true">User Name</mat-label>
                <input
                  *ngIf="update === false"
                  [readonly]="false"
                  autocomplete="off"
                  formControlName="username"
                  matInput
                />

                <input
                  *ngIf="update === true"
                  [readonly]="true"
                  autocomplete="off"
                  formControlName="username"
                  matInput
                />
                <mat-error>The user name is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label *ngIf="update === false">Password*</mat-label>
                <mat-label *ngIf="update === true">Password</mat-label>
                <input
                  autocomplete="off"
                  *ngIf="update === false"
                  [readonly]="false"
                  matInput
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                />
                <input
                  autocomplete="off"
                  *ngIf="update === true"
                  [readonly]="true"
                  matInput
                  formControlName="password"
                  [type]="hide ? 'password' : 'text'"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                  *ngIf="update === false"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                <mat-error *ngIf="form.hasError('required', 'password')"
                  >The password is required</mat-error
                >
                <mat-error *ngIf="form.hasError('pattern', 'password')"
                  >The password must be at least 8 characters in length,
                  Lowercase letters, Uppercase letters, Numbers Special
                  characters.</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Email*</mat-label>
            <input
              *ngIf="update === false"
              [readonly]="false"
              formControlName="email"
              matInput
            />
            <input
              *ngIf="update === true"
              [readonly]="true"
              formControlName="email"
              matInput
            />
            <mat-error *ngIf="form.hasError('required', 'email')"
              >The email is required</mat-error
            >
            <mat-error *ngIf="form.hasError('email', 'email')"
              >Invalid email address</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Birthday</mat-label>
                <input
                  autocomplete="off"
                  formControlName="birth_date"
                  matInput
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input autocomplete="off" formControlName="phone" matInput />
                <mat-error *ngIf="form.hasError('required', 'phone')"
                  >The phone is required</mat-error
                >
                <mat-error *ngIf="form.controls['phone'].hasError('minlength')"
                  >The phone must be at least 10 characters in length</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Start Date*</mat-label>
                <input
                  autocomplete="off"
                  formControlName="start_date"
                  [max]="maxdate"
                  matInput
                  [matDatepicker]="pickerstart"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerstart"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerstart></mat-datepicker>
                <mat-error>The start date is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input
                  formControlName="end_date"
                  matInput
                  [min]="mindate"
                  [matDatepicker]="pickerend"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerend"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerend></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Role*</mat-label>
                <mat-select
                  disableOptionCentering
                  panelClass="dropbottom"
                  formControlName="role"
                >
                  <mat-option *ngFor="let role of roles" [value]="role.Name">
                    {{ role.Name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Position*</mat-label>
                <mat-select
                  disableOptionCentering
                  panelClass="dropbottom"
                  formControlName="position"
                >
                  <mat-option
                    *ngFor="let pos of positions"
                    [value]="pos.PositionName"
                  >
                    {{ pos.PositionName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Department*</mat-label>
            <mat-select
              disableOptionCentering
              panelClass="dropbottom"
              formControlName="department"
            >
              <mat-option *ngFor="let role of departments" [value]="role.value">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Team*</mat-label>
            <mat-select
              disableOptionCentering
              panelClass="dropbottom"
              formControlName="team"
            >
              <mat-option *ngFor="let t of teams" [value]="t">
                {{ t }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Level*</mat-label>
            <mat-select
              disableOptionCentering
              panelClass="dropbottom"
              formControlName="level"
            >
              <mat-option *ngFor="let l of levels" [value]="l">
                {{ l }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>CV Link</mat-label>
            <input
              placeholder="Enter member's CV link"
              autocomplete="off"
              formControlName="cvlink"
              matInput
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <!-- <input
              placeholder="Enter partner company"
              autocomplete="off"
              formControlName="company"
              matInput
            /> -->
            <mat-select disableOptionCentering panelClass="dropbottom" formControlName="company">
              <mat-option>
                <ngx-mat-select-search [formControl]="companyFilterCtrl" placeholderLabel="Find company..." 
                noEntriesFoundLabel="'no matching company found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let c of filteredCompanies | async" [value]="c.CompanyId">
                {{ c.CompanyName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Type*</mat-label>
                <mat-select
                  disableOptionCentering
                  panelClass="dropbottom"
                  formControlName="type"
                >
                  <mat-option *ngFor="let type of types" [value]="type.Id">
                    {{ type.Name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="form.get('type')?.value === 3">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Leave days (year)</mat-label>
                    <input
                      type="number"
                      min="0"
                      step="0.01"
                      autocomplete="off"
                      formControlName="totalleaveday"
                      matInput
                      value="0"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Leave days (used)</mat-label>
                    <input
                      type="number"
                      min="0"
                      step="0.01"
                      autocomplete="off"
                      formControlName="occupiedleaveday"
                      matInput
                      value="0"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row" style="height: 64px">
          <div
            class="col-md-6"
            style="
              align-self: center;
              margin-bottom: 18px;
              padding-left: 10px;
              padding-right: 10px;
            "
          >
            <!-- <mat-form-field appearance="outline">
                <mat-label>Working status*</mat-label>
                <mat-select [value]="0" disableOptionCentering panelClass="dropbottom" formControlName="ispending">
                  <mat-option [value]="false"> Working </mat-option>
                  <mat-option [value]="true"> Pending </mat-option>
                </mat-select>
              </mat-form-field> -->
            <mat-label style="margin-left: 20px">Working Status : </mat-label>
            <mat-radio-group
              (change)="onPendingChange()"
              aria-label="Working status"
              formControlName="ispending"
            >
              <mat-radio-button
                style="margin-right: 20px; margin-left: 10px"
                [value]="false"
                >Working</mat-radio-button
              >
              <mat-radio-button [value]="true">Pending</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-md-6" *ngIf="form.get('ispending')?.value === true">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Pending from*</mat-label>
                  <input
                    autocomplete="off"
                    [max]="maxpendingdate"
                    matInput
                    [matDatepicker]="pendingpickerstart"
                    formControlName="pendingstart"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pendingpickerstart"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pendingpickerstart></mat-datepicker>
                </mat-form-field>
                <mat-error>The pending start is required</mat-error>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Effort (%)</mat-label>
                  <input
                    type="number"
                    min="0"
                    max="100"
                    step="10"
                    autocomplete="off"
                    formControlName="effortfree"
                    matInput
                    value="100"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div
    class="col-12"
    style="
      position: sticky;
      background: white;
      bottom: 0px;
      padding: 10px;
      height: 56px;
      z-index: 6;
    "
  >
    <div
      class="float-end"
      style="
        background: white;
        width: -webkit-fill-available;
        text-align: right;
      "
    >
      <button
        (click)="saveChanges()"
        style="margin-right: 10px; width: 80px"
        class="create"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
      >
        Save
      </button>
      <button
        style="width: 80px"
        class="create button"
        color="warn"
        mat-dialog-close
        mat-flat-button
      >
        Cancel
      </button>
    </div>
  </div>
</div>
