.bs_create-off-report {
  
  mat-form-field {
    width: 100%;
  }

  .card{
    padding:1.2rem;
  }

  .w-80{
    width: 80px;
  }
}

.dayoff-label{
  margin: 0 30px;
  padding-top: 3px;
  background: #fff;
  font-weight: 500;
  color: red;
  text-align: center;
}