<div class="change-password">
  <div class="change-password-body">
    <form [formGroup]="changePwForm" #formDirective="ngForm" (submit)="onSubmit(formDirective)">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Old password</mat-label>
            <input matInput [type]="old ? 'password' : 'text'" formControlName="OldPassword">
            <button mat-icon-button matSuffix (click)="old = !old" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="old">
              <mat-icon>{{old ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePwForm.hasError('required', 'OldPassword')">The field is required.</mat-error>
            <mat-error *ngIf="changePwForm.hasError('validCkPw', 'OldPassword')">The Old Password is incorrect.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input matInput [type]="new ? 'password' : 'text'" formControlName="NewPassword">
            <button mat-icon-button matSuffix (click)="new = !new" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="new">
              <mat-icon>{{new ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePwForm.hasError('required', 'NewPassword')">This field is required.</mat-error>
            <mat-error *ngIf="changePwForm.hasError('pattern', 'NewPassword')">
              Password must be at least 8 character and follows this format: lowercase characters, then UPPERCASE, then
              number, and
              special characters finally.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Retype new password</mat-label>
            <input matInput [type]="retype ? 'password' : 'text'" formControlName="RetypePassword">
            <button mat-icon-button matSuffix (click)="retype = !retype" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="retype">
              <mat-icon>{{retype ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePwForm.hasError('required', 'RetypePassword')">This field is required.</mat-error>
            <mat-error *ngIf="changePwForm.hasError('mustMatch', 'RetypePassword')">Password doesn't match.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mt-2">
          <div class="float-end">
            <button style="width: 80px; margin-right: 10px" mat-raised-button color="primary"
              [disabled]="changePwForm.invalid">Save</button>

            <button style="width: 80px;" mat-raised-button color="warn" type="reset">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>