<router-outlet></router-outlet>


<!-- <div class="container-fluid shadow">
    <div class='home-content'>
        <app-menu-left [childMessage]="siderbarOpen"></app-menu-left>
        <section class="home-section" [ngClass]="{ 'sliderbarToggleMain': siderbarOpen }">
            <app-header (toggleSidebarForMe)="siderbarToggler($event)"></app-header>
            <div class="header-navbar-shadow"></div>
            <div class="component-master">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </section>
    </div>
</div> -->
